@{
    ViewData["Title"] = "Logowanie";
}

<h1>Log in</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div class="form-group mb-3">
                <label class="control-label">Login</label>
                <input type="text" name="login" class="form-control" required />
            </div>
            
            <div class="form-group mb-3">
                <label class="control-label">Password</label>
                <input type="password" name="password" class="form-control" required />
            </div>
            
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>